.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 25px 50px 75px 100px;
    background-color: #404040;
    border: 1px solid black
  }

.paragraph_class
{
    color: white;
  text-indent: 30px;
}
h1 {
    
    font-size: 40px; 
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: white;
    font-size: 30px; 
    font-weight: 800;
}

body { 
    background-color: #C0C0C0; 
    max-width: 100%; 
    overflow-x: hidden; 
  } 