<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Review Insights</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="../static/css/style.css"/>  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 </head>
<body>


<div class="container">
  <div class="header">
    <div class="row">
      <div class="header_text">
        <h1>Book Review Insights Dashboard</h1>
        <p class="paragraph_class"> Some Instruction on what to do here on the page and why</p>
      </div>
  </div>
    <div class="row">
      <div class="col-md-2">
        <div class="names-bar">
          <h5>Author:</h5>
          <select id="selDataset"></select>
        </div>
      </div>
      <div class="col-md-12">
        <div id="radio-buttons" class="centeredText">
          <input type="radio" name="chart" value="bubbleChart" checked> Preview Quadrant Details
          <input type="radio" name="chart" value="doughnutChart"> High Level Distribution
        </div>
        <div id="doughnutBubbleChart"></div>
        <div id="map" style="height: 500px;"></div>
      </div>
    </div>
  </div>

  <script>
    var myMap = L.map('map').setView([0, 0], 2);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    }).addTo(myMap);

  </script>

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.7/d3.layout.cloud.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/app.js"></script>

</body>

</html>
