h1 {
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif
}

#doughnutBubbleChart {
    margin: 0 auto;
  }

.custom-col-12 {
    padding-top: 30px; 
}

.centeredText{
    text-align: center;
}

#chartJsChart {
    width:600;
    height: 250px;
} 
