<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books: list of routes</title>
</head>

<body>

<p>Available Routes:</p>
<li>
  <a href="#">/api/v1.0/books</a> <br/> This route returns a JSON list of books data <br/>
</li>
<li>
  <a href="#">/api/v1.0/users</a> <br/> This route returns a JSON list of users data <br/>
</li>
<li>
  <a href="#">/api/v1.0/reviews</a> <br/> This route returns a JSON list of book reviews by users <br/>
</li>
</body>

</html>
